@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    background-image: linear-gradient(117.67deg, rgb(27, 59, 102), rgb(0, 87, 255), rgb(202, 244, 247));
}

.main-widget-container {
    display: none;
}

.message-container {
    display: none;
    transform: translateY(0%);
    transition: transform 4s ease;
}

.message {
    margin-bottom: 10px;
}

.message .sender {
    font-weight: bold;
}

.message .time {
    font-size: 0.8em;
    color: #999;
}

.question {
    color: white;
    border-radius: 10px;
    background: slategray;
    color: white;
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
    margin-left: auto;
    text-align: left;
    
}

.user {
    color: white;
    border-radius: 0px 7px 7px 7px;
    margin-top: 10px;
    padding: 7px 18px;
    max-width: 70%;
    margin-left: auto;
    font-size: 12px;
    word-wrap: break-word; /* This will ensure long words wrap to the next line */
    overflow-wrap: break-word;
    
}

.admin {
    color: black;
    border-radius: 0px 7px 7px 7px;
    margin-top: 10px;
    background: #E0E0E0;
    padding: 7px 18px;
    max-width: 70%;
    margin-right: auto;
    font-size: 12px;
    word-wrap: break-word; /* This will ensure long words wrap to the next line */
    overflow-wrap: break-word;
}

.clicked-question {
    color: white;
    border-radius: 10px;
    background: slategray;
    color: white;
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
    margin-left: auto;
    text-align: left;
    
}

.response {
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
    margin-right: auto;
}

.support {
    color: gray;
    border-radius: 5px;
    margin-top: 10px;
    background: seashell;
    padding: 8px 12px;
    margin-bottom: 20px;
}

.support-link {
    color: blue;
    text-decoration: underline blue;
    cursor: pointer;
}

hr {
    height: 2px;
    width: 100%;
    background-color: #999;
    margin-top: 20px;
}

@keyframes dotAnimation {
    0% { content: "."; }
    25% { content: ". ."; }
    50% { content: ". . ."; }
    75% { content: ". ."; }
    100% { content: "."; }
}

.loading-dots::after {
    content: "...";
    display: inline-block;
    width: 90px;
    text-align: left;
    animation: dotAnimation 1s infinite steps(4);
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
    background: #E0E0E0;
    padding: 4px 12px;
    max-width: 70%;
    margin-right: auto;
}

.chat-session {
    transition: transform 0.3s ease;
    transform: translateY(100%);
    overflow: hidden;
}

.widget-container {
    display: none;
}

.message-session {
    display: none;
}

.typing {
    color: black;
    border-radius: 30px;
    margin-top: 10px;
    background: #E0E0E0;
}

.typing__dot {
  float: left;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.bg-custom-blue {
    background-color: #027dff;
}

.text-custom-blue {
    color: #027dff;
}

.custom-bg {
    background-color: hsl(222.2, 84%, 4.9%);
}

.text-primary-blue {
    color: #027DFF;
}


.ans {
    color: black;
    background-color: white;
    border: 1px solid #027dff;
    border-radius: 7px;
    margin-top: 10px;
    padding: 7px 18px;
    max-width: 70%;
    font-size: 12px;
    word-wrap: break-word; /* This will ensure long words wrap to the next line */
    overflow-wrap: break-word;
}

.user-ques {
    color: black;
    background-color: white;
    border: 1px solid #027dff;
    border-radius: 7px;
    margin-top: 10px;
    padding: 7px 18px;
    max-width: 70%;
    margin: 10px auto 0px auto;
    font-size: 12px;
    word-wrap: break-word; /* This will ensure long words wrap to the next line */
    overflow-wrap: break-word; 
}

.admin-pop {
    color: black;
    border-radius: 0px 7px 7px 7px;
    background: #E0E0E0;
    padding: 7px 18px;
    max-width: 70%;
    margin-right: auto;
    font-size: 12px;
    word-wrap: break-word; /* This will ensure long words wrap to the next line */
    overflow-wrap: break-word;
}
